.App {
  text-align: center;
}

@font-face {
  font-family: 'GhastlyPanic';
  src: url('./Assets/Fonts/GhastlyPanic.ttf') format('truetype'),
    url('./Assets/Fonts/ghastly_panic-webfont.woff2') format('woff2'),
    url('./Assets/Fonts/ghastly_panic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  padding-top: 5%;
}

.productContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

#navHeader {
  font-family: 'GhastlyPanic';
  font-weight: 300;
  font-size: 40px;
}
#notFound {
  font-family: 'GhastlyPanic';
  font-weight: 500;
  font-size: 80px;
}

#homeLink {
  color: white;
}
#homeLink:hover {
  text-decoration: none;
}
