.App {
  text-align: center;
}

@font-face {
  font-family: 'GhastlyPanic';
  src: url('./Assets/Fonts/GhastlyPanic.ttf') format('truetype'),
    url('./Assets/Fonts/ghastly_panic-webfont.woff2') format('woff2'),
    url('./Assets/Fonts/ghastly_panic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  padding-top: 5%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.productContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}

.cartContainer {
  margin-top: 1%;
  margin-bottom: 1%;
}

.toast {
  z-index: 2;
}

.card-header {
  font-size: 16px;
}

#root > div > div > div > div > ul > li,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#root > div > div > div > div > ul > li#emptyCartNotif {
  justify-content: center;
}
#root > div > div > div > div > ul > li#cartTotal {
  justify-content: flex-end;
}

#navHeader {
  font-family: 'GhastlyPanic';
  font-weight: 300;
  font-size: 40px;
}
#notFound {
  font-family: 'GhastlyPanic';
  font-weight: 500;
  font-size: 80px;
}

#homeLink {
  color: white;
}

#homeLink:hover {
  text-decoration: none;
}

#cartHeader {
  font-family: 'GhastlyPanic';
  font-weight: 300;
  font-size: 80px;
}
